@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
}



/* styles.css or your preferred CSS file */

/* Global Styles */
body {
  font-family: 'Press Start 2P', sans-serif;
  background-color: #222;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Banner Component */
.banner {
  background-color: #007f46;
  padding: 10px;
  text-align: center;
}

/* Exhibit Component */
.exhibit {
  background-color: #000101;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.exhibit h2 {
  margin-top: 0;
  color: #000000;
}

/* IP Address Component */
.ip-address-container {
  background-color: #005e33;
  padding: 10px;
  border-radius: 5px;
}

/* Latency Component */
.latency-container {
  background-color: #00a45d;
  padding: 10px;
  border-radius: 5px;
}
